{% extends "admin/index.html" %}

{% block content %}

<style>
    .opciones-sistema {
        width: 600px;
        margin-bottom: 25px;
    }
</style>

<div class="module opciones-sistema">
    <table>
        <caption>Opciones del sistema</caption>

        <tr>
            <th scope="row">
                <a href="/buscar/">Búsqueda de Alumnos</a>
            </th>
            <td></td>
            <td></td>
        </tr>

        {% if request.user.is_superuser %}
        <tr>
            <th scope="row">
                <a href="/exportar-excel/formulario/">Descargar Grupos</a>
            </th>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
    </table>
</div>

{{ block.super }}

{% endblock %}